<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386245218027-v74cpjnh7bjnpq8qvlge855puqhhuvdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386245218027-v74cpjnh7bjnpq8qvlge855puqhhuvdm</string>
	<key>API_KEY</key>
	<string>AIzaSyAuESOJY8OS5zo9rcHEVuR1y0cT658vH_8</string>
	<key>GCM_SENDER_ID</key>
	<string>386245218027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mnabokow.HackMIT2020</string>
	<key>PROJECT_ID</key>
	<string>hackmit-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>hackmit-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386245218027:ios:a5917337f480e97ed0f8ae</string>
	<key>DATABASE_URL</key>
	<string>https://hackmit-2020.firebaseio.com</string>
</dict>
</plist>